In [1]:
!nvidia-smi

Thu Oct 31 10:00:43 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.50       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   35C    P8    29W / 149W |      0MiB / 11441MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

Import the basic and important libraries

In [0]:
#importing important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [5]:
from google.colab import files      #uploading json file from downloaded kaggle data json file
files.upload()                      #Choose the kaggle.json file that you downloaded

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"priyakashyap171","key":"12e53bc8175a21a9912c575bdda18ac9"}'}

In [6]:
!mkdir -p ~/.kaggle                     #Make directory named kaggle and copy kaggle.json file there.
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json        #Change the permissions of the file.
!ls ~/.kaggle

kaggle.json

In [7]:
ls

kaggle.json  sample_data/

In [8]:
cd sample_data/

/content/sample_data

In [9]:
!ls -l ~/.kaggle
!cat ~/.kaggle/kaggle.json

total 4
-rw------- 1 root root 71 Oct 31 10:02 kaggle.json
{"username":"priyakashyap171","key":"12e53bc8175a21a9912c575bdda18ac9"}

In [10]:
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 2.6MB/s
     |████████████████████████████████| 5.3MB 8.4MB/s
     |████████████████████████████████| 112kB 48.5MB/s
     |████████████████████████████████| 51kB 6.9MB/s
     |████████████████████████████████| 112kB 50.7MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [11]:
!kaggle datasets list #You can check if everything's okay by running this command.

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                      title                                               size  lastUpdated          downloadCount
-------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
tristan581/17k-apple-app-store-strategy-games            17K Mobile Strategy Games                            8MB  2019-08-26 08:22:16           8830
gustavomodelli/forest-fires-in-brazil                    Forest Fires in Brazil                              31KB  2019-08-24 16:09:16           9805
akhilv11/border-crossing-entry-data                      Border Crossing Entry Data                           4MB  2019-08-21 14:51:34           4126
rajeevw/ufcdata                                          UFC-Fight historical data from 1993 to 2019          3MB  2019-07-05 09:58:02           5171
shuyangli94/food-com-recipes-and-user-interactions       Food.com Recipes and Interactions                  267MB  2019-10-12 06:30:37           2872
chirin/africa-economic-banking-and-systemic-crisis-data  Africa Economic, Banking and Systemic Crisis Data   14KB  2019-07-21 02:00:17           3172
ruslankl/european-union-lgbt-survey-2012                 EU LGBT Survey                                     610KB  2019-07-19 11:15:25           1446
kapilverma/hindi-bible                                   Hindi Bible                                          4MB  2019-09-07 18:04:35            271
hmavrodiev/sofia-air-quality-dataset                     Sofia air quality dataset                            3GB  2019-09-14 05:48:09           1055
brkurzawa/us-breweries                                   US Breweries                                        76KB  2019-10-02 03:15:27           1287
jojoker/singapore-airbnb                                 Singapore Airbnb                                   350KB  2019-09-25 22:05:44           1476
srikantsahu/co2-and-ghg-emission-data                    CO2 and GHG emission data                           91KB  2019-09-26 20:10:59           1205
pascalbliem/european-social-survey-ess-8-ed21-201617     European Social Survey (ESS) 8 ed2.1 (2016/17)      10MB  2019-09-29 07:30:37            437
grikomsn/amazon-cell-phones-reviews                      Amazon Cell Phones Reviews                          10MB  2019-09-29 02:26:48           1702
irinachuchueva/russian-wholesale-electricity-market      Russian Wholesale Electricity Market                 1MB  2019-10-09 08:20:57            413
smid80/canadian-federal-election-results-timeseries      Canadian Federal Election Results (Timeseries)      18MB  2019-10-09 11:08:29            437
hmavrodiev/london-bike-sharing-dataset                   London bike sharing dataset                        165KB  2019-10-10 12:49:37           2053
nitinsss/military-expenditure-of-countries-19602019      Military Spending of Countries (1960-2019)          55KB  2019-10-10 12:17:37           1968
mabusalah/brent-oil-prices                               Brent Oil Prices                                    38KB  2019-10-14 12:31:05           1101
valentynsichkar/traffic-signs-preprocessed               Traffic Signs Preprocessed                            0B  2019-08-31 18:22:11            945

In [12]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [13]:
import os
os.environ['KAGGLE_USERNAME'] = "priyakashyap171"
os.environ['KAGGLE_KEY'] = "12e53bc8175a21a9912c575bdda18ac9"
!kaggle datasets download -d vivekchutke/spam-ham-sms-dataset      #downloading dataset directly from kaggle

Downloading spam-ham-sms-dataset.zip to /content/sample_data
  0% 0.00/207k [00:00<?, ?B/s]
100% 207k/207k [00:00<00:00, 63.4MB/s]

In [14]:
!kaggle datasets list                                              #You can again check if dataset is there by running this command.

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                      title                                               size  lastUpdated          downloadCount
-------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
tristan581/17k-apple-app-store-strategy-games            17K Mobile Strategy Games                            8MB  2019-08-26 08:22:16           8830
gustavomodelli/forest-fires-in-brazil                    Forest Fires in Brazil                              31KB  2019-08-24 16:09:16           9805
akhilv11/border-crossing-entry-data                      Border Crossing Entry Data                           4MB  2019-08-21 14:51:34           4126
rajeevw/ufcdata                                          UFC-Fight historical data from 1993 to 2019          3MB  2019-07-05 09:58:02           5171
shuyangli94/food-com-recipes-and-user-interactions       Food.com Recipes and Interactions                  267MB  2019-10-12 06:30:37           2872
chirin/africa-economic-banking-and-systemic-crisis-data  Africa Economic, Banking and Systemic Crisis Data   14KB  2019-07-21 02:00:17           3172
ruslankl/european-union-lgbt-survey-2012                 EU LGBT Survey                                     610KB  2019-07-19 11:15:25           1446
kapilverma/hindi-bible                                   Hindi Bible                                          4MB  2019-09-07 18:04:35            271
hmavrodiev/sofia-air-quality-dataset                     Sofia air quality dataset                            3GB  2019-09-14 05:48:09           1055
brkurzawa/us-breweries                                   US Breweries                                        76KB  2019-10-02 03:15:27           1287
jojoker/singapore-airbnb                                 Singapore Airbnb                                   350KB  2019-09-25 22:05:44           1476
srikantsahu/co2-and-ghg-emission-data                    CO2 and GHG emission data                           91KB  2019-09-26 20:10:59           1205
pascalbliem/european-social-survey-ess-8-ed21-201617     European Social Survey (ESS) 8 ed2.1 (2016/17)      10MB  2019-09-29 07:30:37            437
grikomsn/amazon-cell-phones-reviews                      Amazon Cell Phones Reviews                          10MB  2019-09-29 02:26:48           1702
irinachuchueva/russian-wholesale-electricity-market      Russian Wholesale Electricity Market                 1MB  2019-10-09 08:20:57            413
smid80/canadian-federal-election-results-timeseries      Canadian Federal Election Results (Timeseries)      18MB  2019-10-09 11:08:29            437
hmavrodiev/london-bike-sharing-dataset                   London bike sharing dataset                        165KB  2019-10-10 12:49:37           2053
nitinsss/military-expenditure-of-countries-19602019      Military Spending of Countries (1960-2019)          55KB  2019-10-10 12:17:37           1968
mabusalah/brent-oil-prices                               Brent Oil Prices                                    38KB  2019-10-14 12:31:05           1101
valentynsichkar/traffic-signs-preprocessed               Traffic Signs Preprocessed                            0B  2019-08-31 18:22:11            945

In [15]:
ls

anscombe.json*                mnist_test.csv         spam-ham-sms-dataset.zip
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [0]:

# from google.colab import auth
# from oauth2client.client import GoogleCredentials
import io
import zipfile

Unzip the downloaded dataset zip file from kaggle

In [0]:

zip_ref = zipfile.ZipFile('spam-ham-sms-dataset.zip', "r")
zip_ref.extractall()
zip_ref.close()

In [18]:
ls

anscombe.json*                mnist_test.csv         sms_spam.csv
california_housing_test.csv   mnist_train_small.csv  spam-ham-sms-dataset.zip
california_housing_train.csv  README.md*

In [0]:

spam=pd.read_csv("sms_spam.csv" ) #loading csv file to the dataframe named as spam

In [20]:
spam.head()

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4  spam  okmail: Dear Dave this is your final notice to...

In [21]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

**Removing Punctuation**

This program removes all punctuations from a string. We will check each character of the string using for loop. If the character is a punctuation, empty string is assigned to it,i.e-'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
def remove_punct(text):                                #function which removes the punctuation from text
  text_nopunct="".join([char for char in text if char not in string.punctuation])
  return text_nopunct
spam['text_clean']=spam['text'].apply(lambda x: remove_punct(x))
spam.head()

   type  ...                                         text_clean
0   ham  ...   Hope you are having a good week Just checking in
1   ham  ...                               Kgive back my thanks
2   ham  ...          Am also doing in cbe only But have to pay
3  spam  ...  complimentary 4 STAR Ibiza Holiday or £10000 c...
4  spam  ...  okmail Dear Dave this is your final notice to ...

[5 rows x 3 columns]

**Tokenizing**(Tokenizing separates text into units such as sentences or words.)

In [23]:
import re                                             #tokenizing the data 
def tokenize(text):
  tokens=re.split('\W+',text)
  return tokens
spam['text_tkn']=spam['text_clean'].apply(lambda x:tokenize(x.lower()))
spam.head()

   type  ...                                           text_tkn
0   ham  ...  [hope, you, are, having, a, good, week, just, ...
1   ham  ...                          [kgive, back, my, thanks]
2   ham  ...  [am, also, doing, in, cbe, only, but, have, to...
3  spam  ...  [complimentary, 4, star, ibiza, holiday, or, 1...
4  spam  ...  [okmail, dear, dave, this, is, your, final, no...

[5 rows x 4 columns]

**Stop Words**:(Useless words (data)) A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore, both when indexing entries for searching and when retrieving them as the result of a search query.

In [24]:
nltk.download('stopwords')                                #download this only once

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
stopword =nltk.corpus.stopwords.words('english')

In [26]:
def remove_stopwords(tokenized_list):                           # A function stop word is created which is commonly used word to remove (“the”, “a”, “an”, “in”)
    text =[word for word in tokenized_list if word not in stopword]
    return text
  
spam['text_nonstop']=spam['text_tkn'].apply(lambda x:remove_stopwords(x))
spam.head()

   type  ...                                       text_nonstop
0   ham  ...                       [hope, good, week, checking]
1   ham  ...                              [kgive, back, thanks]
2   ham  ...                                   [also, cbe, pay]
3  spam  ...  [complimentary, 4, star, ibiza, holiday, 10000...
4  spam  ...  [okmail, dear, dave, final, notice, collect, 4...

[5 rows x 5 columns]





## **Data preprocessing**

**Stemmer**
Producing morphological variants of a root/base word.
for eg. A stemming algorithm reduces the words “chocolates”, “chocolatey”, “choco” to the root word, “chocolate”.

In [27]:
ps=nltk.PorterStemmer()

def stemming(tokenized_text):
  text=[ps.stem(word) for word in tokenized_text]
  return text
spam['text_stemmed']=spam['text_nonstop'].apply(lambda x:stemming(x))
spam.head()

   type  ...                                       text_stemmed
0   ham  ...                          [hope, good, week, check]
1   ham  ...                               [kgive, back, thank]
2   ham  ...                                   [also, cbe, pay]
3  spam  ...  [complimentari, 4, star, ibiza, holiday, 10000...
4  spam  ...  [okmail, dear, dave, final, notic, collect, 4,...

[5 rows x 6 columns]

In [0]:
message_data_copy = spam['text_stemmed'].copy()

Importing the libraries

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer #convert a collection of raw documents to a matrix of TF-IDF features
from sklearn.model_selection import train_test_split        #split the dataset into the training and the testing datasets in various proportions

In [0]:

sp =" "
li=[]
final=""
for j in range(0,5559):
  final=""
  for i in message_data_copy[j]:
    final+= i
    final+=sp
  li.append(final)                                           #joing the tokenizing list and coverting then to a string

In [31]:
len(li)

5559

In [0]:
df=pd.DataFrame(li ,columns =['Names'])                      #new dataframe which will read the whole sentence as a single string including

In [33]:
df.head()

                                               Names
0                              hope good week check
1                                  kgive back thank
2                                      also cbe pay
3  complimentari 4 star ibiza holiday 10000 cash ...
4  okmail dear dave final notic collect 4 tenerif...

### TfidfVectorizer
**Term Frequency (TF)**
The number of times a word appears in a document divided by the total number of words in the document. Every document has its own term frequency.

**Inverse Data Frequency (IDF)**
The log of the number of documents divided by the number of documents that contain the word ***w***. Inverse data frequency determines the weight of rare words across all documents in the corpus.

In [0]:
message_data_copy = df['Names'].copy()                        
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer("english")

**string.translate**-To translate the characters in the string translate() is used to make the translations.

**str.maketrans**-This function uses the translation mapping specified using the maketrans().

In [0]:
def text_preprocess(text):
    text = text.translate(str.maketrans('', '', string.punctuation))        #i.e(ab,ef,a) will replace ab to ef and delete a from the string               
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]      #if the splited word doesn't include stopwords join that words in string  
    return " ".join(text)

In [0]:
message_data_copy = message_data_copy.apply(text_preprocess)

In [37]:
message_mat = vectorizer.fit_transform(message_data_copy)
message_mat

<5559x8005 sparse matrix of type '<class 'numpy.float64'>'
	with 46279 stored elements in Compressed Sparse Row format>

In [0]:

message_train, message_test, spam_nospam_train, spam_nospam_test = train_test_split(message_mat, 
                                                        spam['type'], test_size=0.3, random_state=20)    #spliting the data into training and testing

**Logistic regression** function used at the core of the method,the logistic function(sigmoid function)   1 / (1 + e^-value)

Below is an example logistic regression equation: 
y = e^(b0 + b1*x) / (1 + e^(b0 + b1*x))

In [39]:

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score                                

Spam_model = LogisticRegression(solver='liblinear',penalty='l1')               #applying logistic regression model 
Spam_model.fit(message_train, spam_nospam_train)                               
pred = Spam_model.predict(message_test)                                        #predicting values based on model 
accuracy_score(spam_nospam_test,pred)                                          #accuracy score

0.9538369304556354

In [40]:
df['length'] = df['Names'].apply(len)
df.head()                                                                       #measures the length of the string

                                               Names  length
0                              hope good week check       21
1                                  kgive back thank       17
2                                      also cbe pay       13
3  complimentari 4 star ibiza holiday 10000 cash ...     112
4  okmail dear dave final notic collect 4 tenerif...     124

In [41]:

length = df['length'].as_matrix()
new_mat = np.hstack((message_mat.todense(),length[:, None])) #numpy.hstack() function is used to stack the sequence of input arrays
                                                             # todense convert hstack in matrix form

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [43]:
new_mat

matrix([[  0.,   0.,   0., ...,   0.,   0.,  21.],
        [  0.,   0.,   0., ...,   0.,   0.,  17.],
        [  0.,   0.,   0., ...,   0.,   0.,  13.],
        ...,
        [  0.,   0.,   0., ...,   0.,   0., 105.],
        [  0.,   0.,   0., ...,   0.,   0., 123.],
        [  0.,   0.,   0., ...,   0.,   0.,  21.]])

In [0]:

message_train, message_test, spam_nospam_train, spam_nospam_test = train_test_split(new_mat, 
                                                        spam['type'], test_size=0.3, random_state=20)    #spliting the data into training and testing with matrix input

In [46]:

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score                                

Spam_model = LogisticRegression(solver='liblinear',penalty='l1')               #applying logistic regression model 
Spam_model.fit(message_train, spam_nospam_train)                               
pred = Spam_model.predict(message_test)                                        #predicting values based on model 
accuracy_score(spam_nospam_test,pred)                                          #accuracy score

0.9586330935251799